
.image {
    padding-left: 40px !important;
    padding-bottom: 30px !important;
}
.two {
    margin-left: 40px;
    font-weight: bold !important;
    font-size: 90px !important;
}
.three {
    margin-left: 40px;
    font-weight: bold !important;
    font-size: 90px !important;
}
.one {
    font-weight: bold !important;
    font-size: 90px !important;
}
p
{
    font-weight: bold !important;
    font-size: larger !important;
}
.status
{
    font-weight: bold !important;
    font-size: large !important;
}
.money {
    color: #ff4242;
}